{% load static %}
<!doctype html>
<html>
    <head>
        <title>Forgot Password</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/forgot_style.css' %}">
        <script src="{% static 'js/login_script.js' %}" defer></script>
    </head>
    <body>
        <section>
            <div class="box">
                <div class="form">
                    <h2>Forgot Password</h2>
                    <form id="forgotPasswordForm" onsubmit="return validateForgotPassword()">
                        <div class="inputBx">
                            <input type="email" id="email" placeholder="Enter your Email" required>
                            <!-- <img src="email.png" alt="email icon"> -->
                        </div>
                        <div class="inputBx">
                            <input type="submit" value="Send Reset Link">
                        </div>
                    </form>
                    <p><a href="login.html">Back to Login</a></p>
                </div>
            </div>
        </section>
    </body>
</html>
