{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
<div class="middle-section">
    <div class="container">
        <h1>Login</h1>
        <div class="container">
            <form onsubmit="return login_form_submit(event);" id="login_form" name="login_form" action="." method="post">
                {% csrf_token %}
        
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Enter your username" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter your password" required />
            </div>
            <div class="form-group remember-me">
                <input type="checkbox" id="remember-me" />
                <label for="remember-me">Remember me</label>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
            <div class="form-group links">
                <a href="/administrator/reset-password/">Forgot your password?</a>


                <a href="{% url 'create-account' %}">Need an Account?</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>